
.banner-title ,.banner-description, .party-heading,.coming-soon-heading,.holiday-title,.portfolio-heading,.subscribe-heading{
    font-family: "Merriweather", serif;
    font-weight: 900;
}

body{
      font-family: "Inter", sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}



/* Header Styles */

.banner {
    background-image: linear-gradient(to bottom , #070211,rgba(7, 2, 17, 0)) ,url('./resources/Banner\ Image.png');
    margin-bottom: 0px;
    padding: 177px 344px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    max-height: 600px;
    margin-top: 50px;
}

.banner-title {
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
   margin-top: 0;
}

.banner-description {
    font-size: 72px;
    text-align: center;
    color: #FFFFFF;
    margin:0;
    max-width: 632px;
    line-height: 95px;
}

/* Main Styles */

main , header{
    width: 82.5%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

 /* Offer Styles */

 .offer *{
    margin: 0;
    padding: 0;
 }
.offer {
    max-width: 803px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top: 120px;
}

.offer-heading{
    font-size: 88px;
    text-align: center;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 48px;
}

.offer-comment{
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: #FF0000;
    margin-top: 0px;
    margin-bottom: 16px;
}

.offer-title{
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    color:#070211;
    margin-top: 0px;
    margin-bottom: 48px;
}

.offer-img{
    width: 100%;
}

/* Party styles */

.party{
    display: flex;
    gap: 40px;
    background-image: linear-gradient(to right , #070211,rgba(7, 2, 17, 0)) , url('./resources/Vectorrr.png');
    background-repeat: no-repeat;
    margin-bottom: 0px;
    border-radius: 16px;
    padding: 68px 138px 68px 126px;
    align-items: center;
}


.party-heading{
    max-width: 542px;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 0px;
    line-height: 88px;
    letter-spacing: 11%;
    margin-top: 0;
}

.party-description{
    max-width: 597px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 0px;
    line-height: 30px;
}

.party-btn{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 0;
}

/* Party Address */

.party-address *{
    margin: 0;
    padding: 0;
}

.party-address{
    margin-top: 120px;
    background: linear-gradient(to bottom , rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0));
    padding: 100px 380px 110px 380px ;
    text-align: center;
    border-radius: 16px;
    margin-bottom: 120px;
    line-height: 56px;
}

.red{
    color: #FF0000;
    font-size: 32px;
    font-weight: 600;
}

.black{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
}

.address-btn{
    background-color: #FF0000;
    padding: 16px 32px;
    color: #FFFFFF;
    border-radius: 8px;
    border: 0px;
    margin-top: 48px;
    font-size: 20px;
    font-weight: 700;
}

 /* Extra Div Style */

.extra-div *{
    margin: 0;
    padding: 0;
}

.extra-div{
    display: flex;
    margin-bottom: 120px;
    justify-content: space-between;
    align-items: center;
}

.coming-soon{
    max-width: 393px;
}

.coming-soon-title{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}

.coming-soon-heading{
    font-size: 48px;
    color: #070211;
    margin-top: 0px ;
    margin-bottom: 22px;
}

.coming-soon-description{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 0px;
    line-height: 32px;
}

.div-3{
    max-width: 276px;
}

.div-3-title{
    font-size: 48px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 16px;
}

.div-3-description{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 0px;
    margin-bottom: 43px;
    line-height: 32px;
}

.div-3-pic{
    margin-top: 0px;
    width: 140px;
}

.extra-div-pic{
    border: 23px #FF0000 solid;
    border-radius: 50%;
    padding: 49px;
}

.light{
    width: 365px;
}

 /* Holiday Styles */

 .holiday *{
    margin: 0;
    padding: 0;
 }
 
.holiday-text{
    text-align: center;
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

.holiday-subtitle{
    font-size: 24px;
    font-weight:500;
    color: #070211;
    margin-bottom: 0px;
}

.holiday-title{
    font-size: 72px;
    color: #070211;
    margin-top: 16px;
    margin-bottom: 28px;
}

.holiday-description{
    font-size: 20px;
    font-weight: 500;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 0px;
    line-height: 32px;
    margin-bottom: 64px;
    text-align: center;
}

.reddis-span{
    color: #FF0000;
}

.holiday-img{
    position: relative;
    height: 662px;
}

.holiday-img img{
    width: 100%;    
}

.lady-img{
    position: absolute;
    z-index: 1;
    left: 891px;
    top: 0;
    height: 65%;
}
.lady-img img{
    height: 100%;
    object-fit: cover;
}

.fifty-img{
    position: absolute;
    z-index: 4;
    left: 775px;
    top: 114px;
}

.gift-img{
    position: absolute;
    top: 0;
    left: 61px;
    z-index: 8;
}
.orange-img{
    position: absolute;
    top: 433px;
}

 /* Portfolio Style */

.portfolio *{
    margin: 0;
    padding: 0;
}

.portfolio{
    margin-top: 120px;
    margin-bottom: 0px;
}

.portfolio-title{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}

.portfolio-description{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    line-height: 32px;
    margin-top: 0px;
    margin-bottom: 48px;
    width: 766px;
}

.portfolio-heading{
    font-size: 48px;
    color: #070211;
    margin-top: 0px;
    margin-bottom: 22px;
}

.portfolio-images{
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}

.portfolio-images img{
    width: 100%;
}

 /* Subscribe Style */

.subscribe *{
    margin: 0;
    padding: 0;
}

.subscribe{
    margin-top: 120px;
    margin-bottom: 120px;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    padding: 80px 212px;
}

.subscribe-pic{
    text-align: center;
    margin-bottom: 40px;
}

.subscribe-text{
   
}

.subscribe-heading{
    font-size: 48px;
    color: #070211;
    margin-top: 0px;
    margin-bottom: 22px;
    text-align: center;
}

.subscribe-description{
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    font-weight: 400;
    max-width: 896px;
    text-align: center;
    margin-bottom: 47px;
}

.subscribe-btn-div{
    max-width: 648px;
    padding: 0 124px;
}

.subscribe-btn{
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 24px 56px ;
    border: 0px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0px 50px 50px 0px;
    margin-left: 0px;
}

.gmail{
    font-size: 18px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.3);
    padding: 25px 77px 25px 30px;
    border: 0px;
    margin-right: -2px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

 /* Footer Style */

footer{
    background-color: #070211;
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
}

.footer-content{
    padding: 110px 140px;
}

.contact{
    display: flex;
    margin-right: 135px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.footer-address-text{
    font-size: 24px ;
    line-height: 40px;
    font-weight: 500;
    color: #FFFFFF;
    max-width: 375px;
}

.num-web-address{
    font-size: 24px ;
    line-height: 40px;
    font-weight: 500;
    color: #FFFFFF;
}

.flex-div{
    display: flex;
    align-items: center;
    gap: 8px;
}

.call-www{
    width: 24px;
    height: 24px;
}

#first{
    margin-bottom: -10px;
}

#second{
    margin-top:-49px;
}

.logo{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 48px auto;
}

.copyright{
    display: flex;
    justify-content: space-between;
}

.copyright p{
    font-size: 24px ;
    font-weight: 500;
    color: #FFFFFF;
    
}

/* Responsive */

.hide{
    display: none;
}

